# Dependencias
node_modules/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp
*.log

# Variables de entorno
.env
.env.*
!.env.example